{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Глобальные настройки
                </h1>
            </div>
        </div>

        <div class="row">
            {% include "layout/flashes.html" %}
            <div class="col-xs-6">
                <form action="/admin/settings/save" method="POST">

                    <input class="btn btn-danger" type="reset" value="Отменить ">
                    <input class="btn btn-success" type="submit" value="Сохранить">
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Ещё
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <form action="/admin/url1/new" method="POST">

                    <input class="btn btn-danger" type="reset" value="Отменить ">
                    <input class="btn btn-success" type="submit" value="Создать">
                </form>
            </div>
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}