{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Service N</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% include "layout/flashes.html" %}
                <p>Нашим сервисом уже воспользовались {{ data.total_users }} пользователей.</p>
                <p>В нашей системе  .</p>
                <p>Активных реферралов {{ data.total_referrals }}.</p>
            </div>
        </div>
    </div>
{% include "layout/footer.html" %}