{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Главная</h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}
        <div class="row">


        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Еще</h2>
            </div>
        </div>
        <div class="row">
            <div class="row">

            </div>
        </div>
    </div>
{% include "layout/footer.html" %}
