.tree-level-0 {
    padding-left: 0px;
}

.tree-level-1 {
    padding-left: 25px !important;
}

.tree-level-2 {
    padding-left: 50px !important;
}

.tree-level-3 {
    padding-left: 75px !important;
}

.tree-level-4 {
    padding-left: 100px !important;
}

.tree-level-5 {
    padding-left: 125px !important;
}

.tree-level-6 {
    padding-left: 150px !important;
}

.tree-level-7 {
    padding-left: 175px !important;
}

.tree-level-8 {
    padding-left: 200px !important;
}

.tree-level-9 {
    padding-left: 225px !important;
}

.tree-level-10 {
    padding-left: 250px !important;
}

