{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Активация телефона
                </h1>
            </div>
        </div>
        <div class="row">
            {% include "layout/flashes.html" %}
            <div class="col-sm-2"></div>

             <div class="col-sm-8">
                    <div class="row">

                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal" action="/users/phone/activate" id="activateForm" method="POST">
                            {{ wtforms.form_field(form.token, with_label=True) }}
                            <div class="col-xs-6">
                                <input class="btn btn-success pull-right" type="submit" value="Активировать">
                            </div>
                            </form>
                            <div class="col-xs-6">
                                <form class="form-horizontal" action="/users/phone/activate/request_code" id="requestForm" method="POST">
                                    <input class="btn btn-warning pull-left" type="submit" value="Выслать повторно">
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% include "layout/footer.html" %}