{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Профиль
                </h1>
            </div>
        </div>

        <div class="row">
            {% include "layout/flashes.html" %}
            <div class="col-xs-6">
                <form action="/users/save" method="POST">
                    <input type="hidden" name="id" value="{{ details_form.data.id }}">

                    {{ wtforms.form_field(details_form.email, with_label=True, placeholder="Например, user@site.ru") }}
                    {% if not curr_user.time_activated %}
                    <div class="alert alert-warning">
                        <span><a href="/users/activate">Активируйте</a>, пожалуйста, почту.</span>
                    </div>
                    {% endif %}

                    {{ wtforms.form_field(details_form.phone, with_label=True, placeholder="Например, +79053192233") }}
                    {% if curr_user.phone and not curr_user.time_phone_activated %}
                    <div class="alert alert-warning">
                        <span><a href="/users/phone/activate">Активируйте</a>, пожалуйста, телефон.</span>
                    </div>
                    {% endif %}

                    {{ wtforms.checkbox_field(details_form.news_subscribed, with_label=True) }}

                    <input class="btn btn-danger" type="reset" value="Отменить ">
                    <input class="btn btn-success" type="submit" value="Сохранить">
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Смена пароля
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <form action="/users/password/change" method="POST">
                    {{ wtforms.form_field(password_form.old_password, with_label=True) }}
                    {{ wtforms.form_field(password_form.new_password, with_label=True) }}
                    {{ wtforms.form_field(password_form.confirm, with_label=True) }}

                    <input class="btn btn-danger" type="reset" value="Отменить ">
                    <input class="btn btn-success" type="submit" value="Сменить">
                </form>
            </div>
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}