{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Восстановление пароля
                </h1>
            </div>
        </div>

        <div class="row">
            {% include "layout/flashes.html" %}
            <div class="col-sm-3"></div>

            <div class="col-sm-6">
                <form class="form-horizontal" action="/users/password/request" id="loginForm" method="POST">
                    {{ wtforms.form_field(form.email, with_label=True, placeholder="Например, user@site.ru") }}

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                            </div>

                            <div class="col-xs-4">
                            </div>

                            <div class="col-xs-4">
                                <input class="btn btn-block btn-success pull-right" type="submit" value="Напомнить">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% include "layout/footer.html" %}