{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Установка нового пароля
                </h1>
            </div>
        </div>

        <div class="row">
            {% include "layout/flashes.html" %}

            <div class="col-sm-3"></div>

            <div class="col-sm-6">
                <form class="form-horizontal" action="/users/password/set" id="passwordForm" method="POST">
                    {{ wtforms.form_field(form.token, with_label=True) }}
                    {{ wtforms.form_field(form.new_password, with_label=True) }}

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                            </div>

                            <div class="col-xs-6">
                                <input class="btn btn-block btn-success pull-right" type="submit" value="Установить новый пароль">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% include "layout/footer.html" %}