<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/admin" {% if REQUEST_PATH == "/admin" %}class="active" {% endif %}>
                    <i class="fa fa-dashboard fa-fw"></i> Основное
                </a>
            </li>
            <li>
                <a href="/admin/url1" {% if REQUEST_PATH == "/admin/url1" %}class="active" {% endif %}>
                    <i class="fa fa-globe fa-fw"></i> Инфа 1
                </a>
            </li>
            <li>
                <a href="/admin/users" {% if REQUEST_PATH == "/admin/users" %}class="active" {% endif %}>
                    <i class="fa fa-users fa-fw"></i> Пользователи
                </a>
            </li>
            <li>
                <a href="/admin/settings" {% if REQUEST_PATH == "/admin/settings" %}class="active" {% endif %}>
                    <i class="fa fa-gear fa-fw"></i> Настройки сервиса
                </a>
            </li>
        </ul>
    </div>
</div>