    </div>
        <script src="{{ STATIC }}/vendors/jquery/jquery.min.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap-table-1.2.3/src/bootstrap-table.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
        <script src="{{ STATIC }}/vendors/alertify.js/lib/alertify.min.js"></script>
        <script src="{{ STATIC }}/vendors/moment.js/moment.min.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{{ STATIC }}/custom/js/site.js"></script>
    </body>
</html>