<ul class="nav navbar-top-links navbar-right">

    <li>
        <a href="/users/login" {% if REQUEST_PATH == "/users/login" %}class="active" {% endif %}>
            Вход
        </a>
    </li>
    <li>
        <a href="/users/register" {% if REQUEST_PATH == "/users/register" %}class="active" {% endif %}>
            Регистрация
        </a>
    </li>
</ul>