<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/" {% if REQUEST_PATH == "/dashboard" %}class="active" {% endif %}>
                    <i class="fa fa-dashboard fa-fw"></i> Главная
                </a>
            </li>
            <li>
                <a href="/dashboard/help" {% if REQUEST_PATH == "/dashboard/help" %}class="active" {% endif %}>
                    <i class="fa fa-support fa-fw"></i> Помощь
                </a>
            </li>
        </ul>
    </div>
</div>