<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Поиск elements" disabled>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" disabled>
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li>
            <li>
                <a href="/dashboard" {% if REQUEST_PATH == "/dashboard" %}class="active" {% endif %}>
                    <i class="fa fa-dashboard fa-fw"></i> Главная
                </a>
            </li>
            <li>
                <a href="/url1" {% if REQUEST_PATH == "/url1" %}class="active" {% endif %}>
                    <i class="fa fa-globe fa-fw"></i> Инфа1
                </a>
            </li>
            <li>
                <a href="/url2" {% if REQUEST_PATH == "/url2" %}class="active" {% endif %}>
                    <i class="fa fa-bullhorn fa-fw"></i> Инфа2
                </a>
            </li>
            <li>
                <a href="/dashboard/help" {% if REQUEST_PATH == "/dashboard/help" %}class="active" {% endif %}>
                    <i class="fa fa-support fa-fw"></i> Помощь
                </a>
            </li>
        </ul>
    </div>
</div>